.contact{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    width: 100%;

    @media screen and (max-width: 1000px) {
        flex-direction: column;
    }

    & h1{
        font-size: 42px;
        margin-bottom: 10px;
    }

    & form{
        --padding: 15px 25px;
        --ff: var(--ff-poppins);
        --fs: 20px;
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 15px;

        @media screen and (max-width: 1000px) {
            width: 100%;
        }

        & input{
            padding: var(--padding);
            font-family: var(--ff);
            font-size: var(--fs);
            outline: none;
            border: 2px solid #fff;
            border-radius: 7.5px;
            appearance: none;
            background-color: #fff;

            &:hover{
                border-color: var(--clr-hot-pink);
            }

            &:focus{
                border-color: var(--clr-hot-pink);
            }
        }

        & input[type="submit"]{
            cursor: pointer;
            background-color: #fff;

            &:hover{
                background-color: var(--clr-hot-pink);
                color: #fff;
            }
        }

        & textarea{
            appearance: none;
            padding: var(--padding);
            font-family: var(--ff);
            font-size: var(--fs);
            min-height: 250px;
            outline: none;
            border: 2px solid #fff;
            border-radius: 7.5px;
            background-color: #fff;

            &:hover{
                border-color: var(--clr-hot-pink);
            }
        }
    }
}

.content{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 25px;

    @media screen and (max-width: 1000px) {
        width: 100%;
    }
}