.contact {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    width: 100%;

    @media screen and (max-width: 1000px) {
        flex-direction: column;
    }

    & h1 {
        font-size: 42px;
        margin-bottom: 10px;
    }
}

.content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 25px;

    @media screen and (max-width: 1000px) {
        width: 100%;
    }
}
