.gallery__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.img__wrapper {
    border-radius: 15px;
    border: 3px solid #fff;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1.25;
    position: relative;

    &:hover {
        border-color: var(--clr-hot-pink);
    }

    & > div {
        width: 100%;
        height: 100%;
    }

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }
}

.gallery__name,
.gallery__date {
    font-family: var(--ff-poppins);
}

.magnify {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    inset: 0;
    z-index: 9;
}

.interior__image {
    aspect-ratio: unset;
    & img {
        height: 200px;
        width: auto;
    }
}

.gallery__details {
    display: flex;
    gap: 25px;
    justify-content: space-between;
}

.album__details,
.gallery__details {
    & h5 {
        font-family: var(--ff-poppins);
    }
}
