.slider__wrapper{
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    padding-block: 25px;
    width: 100%;

    & .slider{
        display: flex;
        gap: 50px;
        transform: translateX(calc((var(--slider-position) * .15) * -1px));
        position: relative;
    }

    & h5{
        font-size: var(--fs-900);
        color: transparent;
        -webkit-text-stroke: 2px #fff;
        text-transform: uppercase;
    }
}