.featured__item {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &.active {
        & .featured__play_btn {
            bottom: 10%;
        }
    }
}

.featured__cover {
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1;
    position: relative;
    cursor: pointer;

    &:hover {
        & .featured__play_btn {
            bottom: 10%;
        }

        & .song__pause_btn {
            display: block;
        }

        & .now_playing {
            display: none;
        }
    }

    &:after {
        content: "";
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
        transition: 0.25s background;
    }

    &:hover:after {
        background-color: rgba(0, 0, 0, 0.25);
    }

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    & .song__pause_btn {
        display: none;
    }

    & .bar {
        background-color: #fff;
    }
}

.featured__name,
.featured__duration {
    font-family: var(--ff-poppins);
}

.featured__details {
    display: flex;
    flex-direction: column;
    gap: 2.5px;
}

.featured__name {
    font-size: 16px;
}

.featured__play_btn {
    position: absolute;
    width: 40px;
    aspect-ratio: 1;
    background-color: var(--clr-hot-pink);
    bottom: -100px;
    right: 10%;
    border-radius: 50%;
    transition: 0.25s bottom;
    z-index: 1;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    & svg {
        width: 15px;
        aspect-ratio: 1;
        fill: #fff;
    }
}

.featured__artists {
    font-size: 14px;
    opacity: 0.75;
}

/* Song List */
.songs__list {
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 25px 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.list__header {
    & h2 {
        text-transform: uppercase;
    }
}

.list__details {
    display: flex;
    flex-direction: column;
}

.list__name {
    font-size: 16px;
}

.list__artists {
    font-size: 14px;
    opacity: 0.75;
}

.song {
    display: flex;
    align-items: center;
    gap: 25px;
    cursor: pointer;
    position: relative;
    padding-inline: 25px;
    padding-block: 5px;
    border-radius: 5px;
    overflow: hidden;

    &:hover {
        & .song__pause_btn {
            display: block;
        }

        & .now_playing {
            display: none;
        }
    }

    &:after {
        content: "";
        position: absolute;
        inset: 0;
    }

    &:hover:after {
        background-color: #ccc;
        opacity: 0.25;
    }

    & svg {
        width: 15px;
        fill: #fff;
    }

    & img {
        width: 45px;
        height: 45px;
        object-fit: cover;
        border-radius: 5px;
    }

    .song__pause_btn {
        display: none;
    }
}

.list__info {
    display: flex;
    gap: 15px;
    align-items: center;
}

/* --- Player Bar --- */

@keyframes slideUp {
    from {
        top: 100%;
    }
    to {
        top: calc(100% - 125px);
    }
}

.player {
    position: fixed;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    width: calc(100% - (var(--page-padding-inline) * 2));
    padding-block: 15px;
    padding-inline: 25px;
    background-color: rgba(75, 15, 50, 0.95);
    border-radius: 15px;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    overflow: hidden;
    z-index: 3;
    backdrop-filter: blur(4px);
    animation-name: slideUp;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

.player__controls,
.player__details,
.volume__control {
    position: relative;
    z-index: 9;
}

.player__controls {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.player__btns {
    display: flex;
    align-items: center;
    gap: 10px;

    & svg {
        aspect-ratio: 1;
        fill: #fff;
        cursor: pointer;
    }
}

.btn__play_pause {
    width: 32px;

    &:hover {
        opacity: 0.75;
    }
}

.btn__prev,
.btn__next {
    width: 20px !important;
    opacity: 0.75;

    &:hover {
        opacity: 1;
    }
}

.player__trackbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;

    & p {
        font-size: 12px;
    }

    & input {
        width: 100%;
    }
}

.player__details {
    width: 35%;
    display: flex;
    gap: 10px;
    align-items: center;
    overflow: hidden;

    & img {
        border-radius: 5px;

        @media screen and (max-width: 500px) {
            display: none;
        }
    }

    & p {
        font-size: 12px;
        white-space: nowrap;
    }
}

.song__info {
    display: flex;
    flex-direction: column;
    gap: 2.5px;
}

.song__artists {
    font-size: 11px !important;
    opacity: 0.75;
}

.volume__control {
    width: 35%;
    display: flex;
    justify-content: flex-end;
    gap: 7.5px;
}

.volume__icon {
    width: 18px;
    opacity: 0.75;
    fill: #fff;
}

@media screen and (max-width: 500px) {
    .player__details,
    .volume__control {
        display: none;
    }

    .player__controls {
        width: 100%;
    }

    .song {
        padding-inline: 0;
        padding-block: 0;
    }

    .song__select {
        display: none;
    }

    .list__name {
        font-size: 13px;
    }

    .list__artists {
        font-size: 11px;
    }
}

/* --- Now Playing Indicator --- */
@keyframes barUpFull {
    0% {
        height: 0%;
    }
    50% {
        height: 75%;
    }
    100% {
        height: 0%;
    }
}

@keyframes barUpHalf {
    0% {
        height: 0%;
    }
    50% {
        height: 50%;
    }
    100% {
        height: 0%;
    }
}

@keyframes barUpQuarter {
    0% {
        height: 0%;
    }
    50% {
        height: 25%;
    }
    100% {
        height: 0%;
    }
}

.now_playing {
    display: flex;
    align-items: flex-end;
    gap: 2px;
    height: 15px;
    width: 15px;
}

.bar {
    width: 2px;
    height: 0%;
    background-color: #00ff00;
    animation: barUpFull 1.5s infinite;
}

.bar:nth-child(2) {
    animation: barUpHalf 0.5s infinite;
}

.bar:nth-child(3) {
    animation: barUpQuarter 0.5s infinite;
}

.bar:nth-child(1) {
    animation: barUpFull 0.75s infinite;
}

/*
.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 200px;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 16px;
}

.slider::-webkit-slider-runnable-track {
    height: 15px;
    background: #ccc;
    border-radius: 16px;
}

.slider::-moz-range-track {
    height: 15px;
    background: #ccc;
    border-radius: 16px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #f50;
    box-shadow: -407px 0 0 400px #f50;
}

.slider::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #f50;
    box-shadow: -407px 0 0 400px #f50;
}*/
